$border-color: solid gray;
$primaryColor: #FF0000;


body {
    h1 {
      color: $primaryColor;
    }
    font-family: Verdana;
    font-size: 1.5em;
}

#team-members {
clear: both;
              &.member {
                      float: left;
                      border: 1px $border-color;
                      margin: 10px;
                      padding: 6px;
              }

              &.member img {
                      width: 200px;
                      height: 200px;
              }

              &.member div.name {
                      text-align: center;  
              }
}
